/* note to self: to easily situate aside so it will display correctly at top of page,
 place above article in html */
/*ND: Nice! writing your own comments!*/


body {
     background-color:#E1E2E3;
     font-size: 16px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     cursor:default;
     margin:0px;
   }

img {
  max-width: 97%;
}

/*ND: Your spacing here is inconsistent. Try to keep your patterns the same*/


.Relaxr {
  font-size: 36px;
  font-weight: 800;
 }


header {
  background-color: #01214C;
  padding: 4%;
  margin:0 auto;
  font-size: 1.1em;
  font-family: 'Open Sans',sans-serif;
  color:#FAEA39;
  /*ND: Where's the background image?*/

  }



header .Relaxr {
  float: left;
  margin: 10px auto 10px 25px;
  color:white;
}

nav ul {
  list-style: none;
  margin:0;
  padding:0;
  overflow:hidden;
  }



nav li {
  float:right;
  display:inline block;
  padding-right: 40px;
  font-weight: 400;
}

nav a {
  text-decoration: none;
  color:#FAEA39;
}



nav li a:hover {
  color:white;
  text-transform: uppercase;
}
/*ND: Nice use of psuedoclasses. Try playing around with it more!*/


article {
  float:left;
  width:57%;
  padding:3%;
  margin-left: 40px;

}

article p:first-letter {
  float: left;
  color: red;
  font-size: 80px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Open Sans', sans-serif;

    }


 article h1 {

  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em;
  color:#01214C;
}



article p {
  padding-bottom: 4%;
  border-bottom: 1px solid black;
  }



.ReadMore {
    font-weight: 800;
    font-size:1em;
    width:auto;
    float: right;
    padding:1%;
  }

  /*ND: Camelcase style is lowercase on the first like readMore. but usually the convention for HTML
  and CSS is - for two words. like read-more*/

aside {
  float:right;
  width:30%;
  margin-left: 5px;
  margin-right: 10px;
  padding-right: 1%;
  padding-top: 3%;
}

aside p {
  width:240px;
}

aside li {
  list-style: none;
}

section {
  background-color:#f9e42e;
  width:auto;
  clear:both;
  padding:1%;
}


.button {
  display:block;
  height: 50px;
  width:150px;
  margin-left:auto;
  margin-right:auto;
  font-size: 14px;
  font-weight: 800;
  color:white;
  padding-top: 1%;
  text-align: center;
  border-radius: 5px;
  background-color: #033048;
}




#SocialMedia li {
  display:inline-block;
  padding:5px;

}

footer {
        clear:both;
        width:auto;
        padding:5%;
        background-color: #121212;
        font-size: 9px;
        font-weight: 600;
        text-align: center;
}





footer .Relaxr {
        color:#f9e42e;

 }

 #copyright {
  color:white;
 }


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
